<form role="form" method="POST">
  <div class="form-group">
    <label for="titleInput">Job Title</label>
    <input name="title" type="text" class="form-control" id="titleInput" placeholder="Job Title">
  </div>
  <div class="form-group">
    <label for="linkInput">Link</label>
    <input name="link" type="text" class="form-control" id="linkInput" placeholder="Link eg. www.jobthing.com/careers">
  </div>
  <div class="form-group">
    <label for="descriptionInput">Description</label>
    <textarea name="description" class="form-control" id="descriptionInput" placeholder="A description about the job. Try to include as much detail as possible!"></textarea>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input name="contactEmail" type="email" class="form-control" id="exampleInputEmail1" placeholder="Contact email">
  </div>
  <div class="form-group">
    <label for="rateInput">Rate</label>
    <input name="rate" type="text" class="form-control" id="rateInput" placeholder="Rate or Salary (per day, or per year)">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
